* {
    background:                     #475C7Bff;
    background-alt:                 #475C7Bff;
    foreground:                     #ffffffcc;
    border:               			#c972ea;
    border-alt:               		#89ddff;
    selected:               		#685E79ff;
    urgent:                         #DA4453FF;
}
