*{
    background: #292d3e;
    background-alt:#292d3e;
    foreground: #ffffff;
    border: #c972ea;
    border-alt: #34324a;
    selected: #717cb470;
    urgent: #aaff72;
    accent:           #c972ea;
    background-light: #444267;
    on:               #89ddff;
    off:              #f2f2f2ab;            
}