<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Boxes"> <action name="Execute">
                <execute>gnome-boxes</execute>
            </action> </item>
            <item label="Electron"> <action name="Execute">
                <execute>electron</execute>
            </action> </item>
            <item label="Electron 11"> <action name="Execute">
                <execute>electron11</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Insomnia"> <action name="Execute">
                <execute>/opt/insomnia/insomnia</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>alacritty -e python</execute>
            </action> </item>
            <item label="Tclsh8.6"> <action name="Execute">
                <execute>alacritty -e tclsh8.6</execute>
            </action> </item>
            <item label="Visual Studio Code"> <action name="Execute">
                <execute>/opt/visual-studio-code/code --no-sandbox</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="AA Fire"> <action name="Execute">
                <execute>alacritty -e aafire -driver slang</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>alacritty -e nano</execute>
            </action> </item>
            <item label="Neovim"> <action name="Execute">
                <execute>alacritty -e nvim</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>alacritty -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                    <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
            <item label="Slippi Online"> <action name="Execute">
                <execute>/home/florida/Applications/Slippi_Online-x86_64_08fcb0fdef55af7ff9f6e6eff00c8daa.AppImage</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="Document Scanner"> <action name="Execute">
                <execute>simple-scan</execute>
            </action> </item>
            <item label="Image Viewer"> <action name="Execute">
                <execute>eog</execute>
            </action> </item>
            <item label="Photos"> <action name="Execute">
                <execute>gnome-photos</execute>
            </action> </item>
            <item label="scanimage"> <action name="Execute">
                <execute>alacritty -e scanimage</execute>
            </action> </item>
            <item label="Viewnior"> <action name="Execute">
                <execute>viewnior</execute>
            </action> </item>
            <item label="XGlyph"> <action name="Execute">
                <execute>xglyph</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>alacritty -e alsamixer</execute>
            </action> </item>
            <item label="Cadence"> <action name="Execute">
                <execute>cadence</execute>
            </action> </item>
            <item label="Catia"> <action name="Execute">
                <execute>catia</execute>
            </action> </item>
            <item label="Cheese"> <action name="Execute">
                <execute>cheese</execute>
            </action> </item>
            <item label="Kdenlive"> <action name="Execute">
                <execute>kdenlive</execute>
            </action> </item>
            <item label="Music"> <action name="Execute">
                <execute>gnome-music</execute>
            </action> </item>
            <item label="OBS Studio"> <action name="Execute">
                <execute>obs</execute>
            </action> </item>
            <item label="PulseAudio System Tray"> <action name="Execute">
                <execute>pasystray</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
            <item label="Spotify"> <action name="Execute">
                <execute>spotify</execute>
            </action> </item>
            <item label="Videos"> <action name="Execute">
                <execute>totem</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>vlc</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>qvlc</execute>
            </action> </item>
            <item label="Volume Icon"> <action name="Execute">
                <execute>volumeicon</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Google Chrome"> <action name="Execute">
                <execute>google-chrome-stable</execute>
            </action> </item>
            <item label="Slack"> <action name="Execute">
                <execute>slack</execute>
            </action> </item>
            <item label="Steam (Runtime)"> <action name="Execute">
                <execute>steam-runtime</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
            <item label="Zoom"> <action name="Execute">
                <execute>zoom</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="Document Viewer"> <action name="Execute">
                <execute>evince</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>alacritty -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>alacritty -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="Files"> <action name="Execute">
                <execute>nautilus</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>alacritty -e git</execute>
            </action> </item>
            <item label="kitty"> <action name="Execute">
                <execute>kitty</execute>
            </action> </item>
            <item label="Oracle VM VirtualBox"> <action name="Execute">
                <execute>VirtualBox</execute>
            </action> </item>
            <item label="Terminal"> <action name="Execute">
                <execute>gnome-terminal</execute>
            </action> </item>
            <item label="Thunar File Manager"> <action name="Execute">
                <execute>thunar</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="VirtualBox"> <action name="Execute">
                <execute>virtualbox</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Add/Remove Software"> <action name="Execute">
                        <execute>pamac-manager</execute>
                    </action> </item>
                    <item label="Advanced Network Configuration"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                    <item label="LightDM GTK+ Greeter settings"> <action name="Execute">
                        <execute>lightdm-gtk-greeter-settings-pkexec</execute>
                    </action> </item>
                    <item label="Settings"> <action name="Execute">
                        <execute>gnome-control-center</execute>
                    </action> </item>
                </menu>
                <item label="AppImageLauncher Settings"> <action name="Execute">
                    <execute>AppImageLauncherSettings</execute>
                </action> </item>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Default applications for LXSession"> <action name="Execute">
                    <execute>lxsession-default-apps</execute>
                </action> </item>
                <item label="Desktop Session Settings"> <action name="Execute">
                    <execute>lxsession-edit</execute>
                </action> </item>
                <item label="File Manager Settings"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
                <item label="IBus Preferences"> <action name="Execute">
                    <execute>ibus-setup</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Qt5 Settings"> <action name="Execute">
                    <execute>qt5ct</execute>
                </action> </item>
                <item label="Rygel Preferences"> <action name="Execute">
                    <execute>rygel-preferences</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Color Profile Viewer"> <action name="Execute">
                <execute>gcm-viewer</execute>
            </action> </item>
            <item label="Disk Usage Analyzer"> <action name="Execute">
                <execute>baobab</execute>
            </action> </item>
            <item label="fish"> <action name="Execute">
                <execute>alacritty -e fish</execute>
            </action> </item>
            <item label="GDM flexiserver"> <action name="Execute">
                <execute>gdmflexiserver</execute>
            </action> </item>
            <item label="GDM flexiserver in Xnest"> <action name="Execute">
                <execute>gdmflexiserver -n</execute>
            </action> </item>
            <item label="GNOME System Monitor"> <action name="Execute">
                <execute>gnome-system-monitor</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>alacritty -e htop</execute>
            </action> </item>
            <item label="Logs"> <action name="Execute">
                <execute>gnome-logs</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e /usr/bin/pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>alacritty -e pstree</execute>
            </action> </item>
            <item label="Pstree"> <action name="Execute">
                <execute>alacritty -e pstree.x11</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>alacritty -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="Archive Manager"> <action name="Execute">
                <execute>file-roller</execute>
            </action> </item>
            <item label="Calculator"> <action name="Execute">
                <execute>gnome-calculator</execute>
            </action> </item>
            <item label="Catarina"> <action name="Execute">
                <execute>catarina</execute>
            </action> </item>
            <item label="Characters"> <action name="Execute">
                <execute>gnome-characters</execute>
            </action> </item>
            <item label="Clocks"> <action name="Execute">
                <execute>gnome-clocks</execute>
            </action> </item>
            <item label="Disks"> <action name="Execute">
                <execute>gnome-disks</execute>
            </action> </item>
            <item label="Documents"> <action name="Execute">
                <execute>gnome-documents</execute>
            </action> </item>
            <item label="Extensions"> <action name="Execute">
                <execute>gnome-extensions-app</execute>
            </action> </item>
            <item label="Fonts"> <action name="Execute">
                <execute>gnome-font-viewer</execute>
            </action> </item>
            <item label="Help"> <action name="Execute">
                <execute>yelp</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>alacritty -e info</execute>
            </action> </item>
            <item label="MongoDB Compass"> <action name="Execute">
                <execute>mongodb-compass</execute>
            </action> </item>
            <item label="Plank"> <action name="Execute">
                <execute>plank</execute>
            </action> </item>
            <item label="Screenshot"> <action name="Execute">
                <execute>gnome-screenshot --interactive</execute>
            </action> </item>
            <item label="Tweaks"> <action name="Execute">
                <execute>gnome-tweaks</execute>
            </action> </item>
            <item label="Weather"> <action name="Execute">
                <execute>gapplication launch org.gnome.Weather</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
